/* 
    Created on : 18-feb-2018, 8:19:44
    Author     : Bismarck Franco
*/

.Border{
    -fx-background-color:transparent;
}
.MainContainer{
    -fx-background-color:white;
    -fx-border-radius:3;
    -fx-background-radius:3;
}
.SideBar_Login{
    -fx-background-color:#003653;
    -fx-border-radius:3 0 0 3;
    -fx-background-radius:3 0 0 3;
    -fx-padding:10;
}
.textBox_Login{
    -fx-prompt-text-fill:#F0F0F0;
    -fx-text-fill:white;
}
.textBox_Login:focused{
    -fx-prompt-text-fill:white;
    -fx-text-fill:white;
}
.button_Login{
    -fx-font-family: "Georgia";
    -fx-font-size: 12pt;
    -fx-background-color: white;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #505050;    
    -fx-alignment: CENTER;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 0,0,1,3 );
}
.button_Login:hover{
    -fx-text-fill:#5A5A5A;
    -fx-opacity:0.9;  
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 0,0,3,5 );
}
.button_Login:pressed{
    -fx-opacity:1;
    -fx-text-fill: #505050;    
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 0,0,1,3 );
}

