/* 
    Created on : 18-feb-2018, 8:19:44
    Author     : Bismarck Franco
*/

.Border{
    -fx-background-color:transparent;
}
.MainContainer{
    -fx-background-color:white;
    -fx-border-radius:10;
    -fx-background-radius:10;
}
.SideBar_Login{
    -fx-background-color:white;
    -fx-border-radius:10;
    -fx-background-radius:10;
    -fx-padding:10;
}
.textBox_Login{
    -fx-prompt-text-fill:#A6A6A6;
    -fx-text-fill:#3A3A3A;
}
.button_Login{
    -fx-font-family: "Georgia";
    -fx-font-size: 12pt;
    -fx-background-color: #367DCE;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: white;    
    -fx-alignment: CENTER;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 0,0,1,1 );
}
.button_Login:hover{  
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 0,0,2,2 );
}
.button_Login:pressed{  
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 0,0,1,1 );
}
.btnSalir{
    -fx-opacity:1;
}
.btnSalir:hover{
    -fx-opacity: 0.6;
}
.btnSalir:pressed{
    -fx-opacity:1;
}

